.fileUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;

  input {
    display: none;
  }

  &__customButton {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #000;
    color: white;
    font-weight: 400;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    user-select: none;
    text-align: center;

    &:hover {
      background-color: #575555;
    }

    @media (min-width: 767px) {
      padding: 10px 20px;
      font-size: 17px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
